.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1900px;
  margin-bottom: 40px;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 25px 50px;
}

.headerRight a {
  margin: 10px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portfolioSection {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.aboutMe {
  text-align: center;
  margin: auto;
  width: 70%;
}

.aboutMe > h2 {
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .pageHeader {
    text-align: center;
    flex-direction: column;
  }

  .headerRight {
    display: none;
  }

  .portfolioSection {
    padding: 20px;
    width: 100%;
  }

  .portfolioSection > h2 {
    border-bottom: 1px solid black;
  }

  .aboutMe {
    width: 100%;
    padding: 0px 20px;
  }
}
